*{
	margin: 0;
	padding: 0;
	outline: none;
}
.zhangsan{
	list-style: none;
}
.zhangsan>li{
	width: 465px;
	height: 40px;
	background: #FFFFFF;
	border: 3px solid #00FFFF;
	line-height: 40px;
    margin: 20px 0 0 0;
    border-radius: 10px;
}
.zhangsan span:nth-child(1){
	float: left;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	/*border: 3px solid #00FFFF;*/
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
/*    margin: 10px 0 0 10px;*/
}
.zhangsan span{
	float: left;
	width: 80px;
	height: 40px;
	background: #FFFFFF;
	/*border: 3px solid #00FFFF;*/
	text-align: center;
	line-height: 40px;
    margin: 0 0 0 10px;
}
.zhangsan button{
	float: left;
	width: 40px;
	height: 40px;
	line-height: 30px;
	background: #FFFFFF;
	margin: 0 0 0 38px;
	border-radius: 50%;
	border: 0px;
	cursor: pointer;
}	
.add{
	width: 60px;
	height: 30px;
	line-height: 30px;
	background: #efad4f;
	margin: 0  0 0 5px;
	border-radius: 4px;
	border: 0px;
}
.xingming{
	width: 190px;
	height: 30px;
	padding:  0 0 0 5px;
	border-radius: 8px;

}
.chengji{
	width: 190px;
	height: 30px;
	padding: 0 0 0 5px;
	border-radius: 8px;
}
.yanse{
	border-color: red;
}
.beijing{
	width: 100%;
	height: 500px;
	background: darkgray;
	margin: 0 auto;
}
.kongxi{
	height: 30px;
}
.xuhao{
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 0 0;
	border-radius: 4px;
	border: 0px;
}
.mengban{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
}
.xiaobeijing{
	width: 410px;
	height: 500px;
	position: absolute;
	background: transparent;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -250px;
}
.juzong{
	width: 480px;
	height: 500px;
	background: transparent;
	margin: 0 auto;
}
.xm{
	width: 190px;
	height: 30px;
	border-radius: 8px;
	
}

.cj{
	width: 190px;
	height: 30px;
	border-radius: 8px;
}
.qd{
	width: 50px;
	height: 30px;
	background: green;
	margin: 100px 0 0 145px;
}
.qx{
	width: 50px;
	height: 30px;
	background: red;
}
